body { 
	background-color: #2b2b40;
}

nav.navbar-fixed-top { 
	display: none;
}  

nav.navbar { 
	background: rgba(28, 36, 65, 0.93);
	border-radius: 0px;
	top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#mainSection { 
	/*background: rgba(28, 36, 65, 0.93);*/  
	background: #fff;  
	padding-top: 130px;    
	padding-bottom: 50px;
}  

table td, table th { 
	vertical-align: middle !important;
}

.page-header h1 { 
	font-size: 30px;
}    

.page-header form { 
	margin-top: 30px;     
}

.btn-common { 
	margin: 10px !important;  
	padding: 15px;  
	font-size: 14px;
}
    
.btn-add { 
	background-color: #337AB7; 
}  

.btn-delete { 
	background-color: #D9534F; 
}

.modal-title {  
	display: inline-block;
}   

input[type="checkbox"] { 
	margin-top: -2px !important;
    padding-right: 10px !important;
    position: static !important;
    vertical-align: middle !important;
}  

.confirmation_message { 
	padding: 10px; 
	font-size: 14px; 
	text-align: center;  
	display: none;  
	margin-bottom: 20px;
}    

/* below for the data inventory */   

#secondData { 
	display: none;
}  

.topBottomNavigate { 
	display: block;  
	margin: 0px auto !important;  
	width: 10%;  
}      

#firstNext { 
	margin-top: 30px !important;
}

#firstPrev { 
	margin-bottom: 30px !important;
}

#addDataSubmitButtonContainer { 
	display: none;
}  

.mainLabel {
	margin-bottom: 30px;
    text-align: center;
}   

/* below is for the print styling */   

@media print { 
	@page {
		size: auto;   /* auto is the current printer page size */
		margin: 7mm 0mm 7mm 0mm;  /* this affects the margin in the printer settings */
    }   

    .btn-common, footer, #searchContainer, .notForPrint { 
       display: none;
    }    

    #mainSection { 
		margin-top: -150px;
    }

}