#loginView .alert-danger {  
	display: none;
}     

.btn.btn-red { 
	background-color: #D6514C;
}   
 

.btn.btn-primary { 
	background-color: #337ab7;  
	width: 100%;   
	height: 100%;  
	font-size: 25px;  
	border-radius: 20px;
}     

.btn.btn-primary:hover { 
	font-size: 35px;  
}     

.btn {  
	border: none;
}          























